@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jomolhari&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
}

/* HEADER */

header {
    position: fixed;
}

.navbar {
    background-color: white;
}

.navbar-brand {
    margin-left: 4vw;
    /* border: 1px solid black; */
}

.navbar-nav {
    margin-right: 4vw;
    gap: 100px;
}

.Header_Esquerda_Imagem {
    height: 70px;
    width: 70px;
}

/* Ajustes para a navegação */
.nav-link {
    font-size: 20px;
    color: black !important;
    padding-bottom: 5px;
    position: relative;
    text-decoration: none;
}

.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: red;
    transition: width 0.3s ease-in-out;
}

.nav-link:hover::after {
    width: 100%;
}

.menu_hamburguer {
    font-size: 40px;
}

@media (max-width: 901.98px) {
    .navbar-nav {
        gap: 0;
    }
}

/* HEADER */

/* MAIN */

.Inicio_Main {
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 100px; /* Adiciona um espaço entre o header e o conteúdo */
    font-family: 'Jomolhari', serif; /* Aplica a fonte Jomolhari ao corpo do documento */
    padding-bottom: 20px;

}

/* Main conteudo principal */
.Inicio_Main_Conteudo_Principal {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    /* width: 70%; */
    border-right: 1px solid black;
    border-right-width: 1px; /* Altera a altura da borda direita para 20px */
}


.Inicio_Main_Conteudo_Principal h1 {
    border-top: 1px solid black;
    padding-top: 10px;
    text-align: center;
    font-size: 1.7vw; /* Tamanho do texto em relação à largura da tela */
    font-weight: bold;
    /* border: 1px solid black; */
    word-wrap: break-word; /* Para navegadores antigos */
    overflow-wrap: break-word; /* Para navegadores modernos */
    hyphens: auto; /* Permite quebra de palavras com hífen */
    max-width: 100%; /* Limita a largura máxima do elemento */
    white-space: normal; /* Permite que o texto quebre em várias linhas */
}

/* Breakpoint para telas médias */
@media (max-width: 768px) {
    .Inicio_Main_Conteudo_Principal h1 {
         font-size: 3vw; /* Tamanho do texto para telas médias */
     }
     .Inicio_Main_Conteudo_Principal {
        border-right-width: 0; /* Altera a altura da borda direita para 20px */
        gap: 0;
     }
     
 }
 
 /* Breakpoint para telas pequenas */
 @media (max-width: 480px) {
    .Inicio_Main_Conteudo_Principal h1 {
         font-size: 4vw; /* Tamanho do texto para telas pequenas */
     }
 }
 
 .Main_Materia_principal {
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
}

.Main_Materia_Principal_Esquerda {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    width: 30%;
    flex-direction: column;
    gap: 10px;
}

.Main_Materia_Principal_Texto {
    border: 1px solid rgba(0, 0, 0, 0.5); /* Bordas meio transparentes */
    padding: 10px;
    color: black;
    font-weight: bold;
    font-size: 1.3vw;
    font-family: 'Jomolhari', serif; /* Aplica a fonte Jomolhari ao corpo do documento */
}

.Main_Materia_Principal_Texto p {
    text-align: justify;
}

/* Breakpoint para telas médias */
@media (max-width: 768px) {
    .Main_Materia_Principal_Texto {
         font-size: 2vw; /* Tamanho do texto para telas médias */
     }
 }
 
 /* Breakpoint para telas pequenas */
 @media (max-width: 480px) {
    .Main_Materia_Principal_Texto {
         font-size: 4vw; /* Tamanho do texto para telas pequenas */
     }
 }

.Main_Materia_Principal_Direita {
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    width: 70%;
}

.Main_Materia_Principal_Direita iframe {
    width: 100%;
}

@media (max-width: 901.98px) {
    Main {
        display: block;
    }
    .Main_Materia_principal {
        flex-direction: column;
    }
    .Main_Materia_Principal_Direita_Video {
        width: 400px;
        height: 215px;
    }
    .Main_Materia_Principal_Esquerda {
        flex: 1;
        width: 100%;
    }
    
    .Main_Materia_Principal_Direita {
        flex: 1;
        width: 100%;
    }
}

@media (max-width: 1222.98px) {
    .Inicio_Main {
        flex-direction: column;
    }
}

/* Main conteudo principal */

/* VER MAIS */
.Inicio_Main_Ver_Mais {
    /* width: 30%; */
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 640px;
}

.Inicio_Boxs {
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* Adiciona um scroll vertical apenas quando necessário */
    gap: 30px;
}

.Inicio_Main_Ver_Mais h3 {
    border-top: 1px solid black;
    padding-top: 10px;
    font-weight: bold;
    color: red;
}

.Inicio_Box_Veja_Mais {
    margin-top: 10px;
    border: 1px solid black;
    width: 300px;
    flex-shrink: 0;
    min-width: 400px;
}

.Inicio_Box_Veja_Mais p {
    padding-left: 4px;
}

.Inicio_Box_Veja_Mais iframe {
    width: 100%;
}

@media (max-width: 1222.98px) {
    .Inicio_Boxs {
        flex-direction: row;
    }
    .Inicio_Main_Ver_Mais {
        height: 330px;
    }
}

@media (max-width: 901.98px) {
    .Inicio_Box_Veja_Mais {
        margin-top: 10px;
        border: 1px solid black;
    }
    .Inicio_Boxs {
        overflow-x: auto; /* Adiciona um scroll horizontal apenas quando necessário */
    }
    
}
/* VER MAIS */

.linha_preta_Layout {
    width: 100%;
    display: flex;
    justify-content: center;
}

.linha_preta {
    width: 90%;
    border: 1px solid black;
}

/* MAIN */

.Inicio_Textos_Informativos_Background {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.Inicio_Textos_Informativos {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid black; */
}

.Inicio_Textos_Informativos h1{
    font-family: 'Jomolhari', serif; /* Aplica a fonte Jomolhari ao corpo do documento */
    font-weight: bold;
    font-size: 1.7vw;
    padding: 10px;
}

.Inicio_Box_Itens_Informativos_normal {
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    flex-direction: row;
}

.Inicio_Box_Itens_Informativos_invertido{
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.Box_Texto_Layout {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.Box_Texto_Layout h5 {
    font-family: 'Jomolhari', serif; /* Aplica a fonte Jomolhari ao corpo do documento */
    font-weight: bold;
    font-size: 1.7vw;
}

.Box_Texto_Layout p {
    font-family: 'Jomolhari', serif; /* Aplica a fonte Jomolhari ao corpo do documento */
    text-align: justify;
    font-size: 1.7vw;

}

.Inicio_Box_Itens_Informativos_normal img {
    width: 50%;
    padding: 20px;
}

.Inicio_Box_Itens_Informativos_invertido img {
    width: 50%;
    padding: 20px;
}

/* Breakpoint para telas médias */
@media (max-width: 768px) {
    .Inicio_Textos_Informativos h1 {
        font-size: 2vw;
    }
    .Box_Texto_Layout h5 {
         font-size: 2vw; /* Tamanho do texto para telas médias */
     }
     .Inicio_Box_Itens_Informativos_normal {
        flex-direction: column;
    }
    .Inicio_Box_Itens_Informativos_normal img {
        width: 100%;
    }    
    .Inicio_Box_Itens_Informativos_invertido {
        flex-direction: column;
    }
    .Inicio_Box_Itens_Informativos_invertido img {
        width: 100%;
        padding: 20px;
    }    
    .Box_Texto_Layout {
        width: 100%;
    }
    .Box_Texto_Layout p {
        font-size: 2vw;
     }
 }
 
 /* Breakpoint para telas pequenas */
 @media (max-width: 480px) {
    .Inicio_Textos_Informativos h1 {
        font-size: 4vw;
    }
    .Box_Texto_Layout h5 {
         font-size: 4vw; /* Tamanho do texto para telas pequenas */
     }
     .Box_Texto_Layout p {
        font-size: 3.5vw;
     }
 }


 /* FOOTER */

 footer {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: red;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
 }

 .footer_layout {

    display: flex;
    flex-direction: row;
    width: 90%;
 }

 .footer_layout_esquerda {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: normal;
 }

 .footer_layout_esquerda h4 {
    font-family: 'Inter', serif; /* Aplica a fonte Jomolhari ao corpo do documento */
    font-size: 2vw;
    padding: 10px;
    color: white;
    font-weight: bold;
    align-self: center;
 }

 .footer_layout_esquerda_inferior {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
 }
 
 .Lousa_Background {
    background-image: url(../img/Quadro_Negro.png);
    background-repeat: no-repeat; /* Não repetir a imagem */
    background-size: cover; /* Cobrir toda a área */
    background-position: bottom; /* Centralizar a imagem */
    width: 100%; /* Ajustar a largura para 100% do contêiner */
    max-width: 400px; /* Definir uma largura máxima */
    height: 250px; /* Altura fixa */
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: flex-start; /* Centralizar o conteúdo dentro do background */
    border-radius: 20px;
    box-sizing: border-box; /* Incluir padding e border na largura e altura */
}

.Lousa_Background a {
    text-decoration: none;
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 10px 20px 10px 20px;
    color: black;
    font-size: 2vw;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: color 0.3s ease, border-color 0.3s ease, background-color 0.5s ease; /* Transição suave */
}

.Lousa_Background a:hover {
    background-color: rgba(245, 61, 233, 0.5);
}

.Lousa_Background a span {
    font-weight: bold;
    color: white;
    transition: color 0.3s ease; /* Transição suave */
    font-family: 'Inter', serif; /* Aplica a fonte Jomolhari ao corpo do documento */
}

.Lousa_Background a span:hover {
    color: black;
}

.Lousa_Background a i {
    background-color: rgb(254, 0, 229);
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease; /* Transição suave */
}

.Lousa_Background a i:hover {
    background-color: white;
    color: rgb(254, 0, 229);
}
 
 .Coruja {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
 }

 .Coruja img {
    width: 100%;
    height: 100%;
 }

 .footer_layout_direita {
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    border-left: 1px solid white;
 }

 .footer_layout_direita_Titulo {
    border-top: 1px solid white;
    font-weight: bold;
    font-size: 1.5vw;
    color: white;
    font-family: 'Inter', serif; /* Aplica a fonte Jomolhari ao corpo do documento */
 }

 .footer_layout_direita_Texto {
    font-weight: bold;
    font-size: 1vw;
    color: white;
    text-align: justify;
    font-family: 'Inter', serif;
 }


 /* RESPONSIVIDADE DO QUADRO NEGRO */
 @media (max-width: 768px) {
    .Lousa_Background {
        height: 200px; /* Ajustar a altura para telas menores */
    }
}

@media (max-width: 480px) {
    .Lousa_Background {
        height: 150px; /* Ajustar a altura para telas muito pequenas */
    }
}
/* RESPONSIVIDADE DO QUADRO NEGRO */
 
@media (max-width: 1222.98px) {
    .footer_layout {
        flex-direction: column;
    }
    .footer_layout_esquerda {
        width: 100%;
    }
    .footer_layout_direita {
        width: 100%;
        border-left: 0;
    }
    .Coruja {
        width: 23%;
     }

}
 /* Breakpoint para telas médias */
@media (max-width: 768px) {
    .footer_layout_esquerda h4 {
        font-size: 3.5vw;
    } 
    .Lousa_Background a {
        font-size: 3.5vw;
    }
    .footer_layout_direita_Titulo {
        font-size: 4vw;
     }
    
     .footer_layout_direita_Texto {
        font-size: 3vw;
     }
     .Coruja {
        width: 35%;
     }
    
 }
 
 /* Breakpoint para telas pequenas */
 @media (max-width: 680px) {
    .Coruja {
        width: 50%;
     }
    /* .Inicio_Textos_Informativos h1 {
        font-size: 4vw;
    }
    .Box_Texto_Layout h5 {
         font-size: 4vw;
     }
     .Box_Texto_Layout p {
        font-size: 3.5vw;
     } */
 }

 @media (max-width: 380px) {
    .Coruja {
        display: none;
    }
}
 /* FOOTER */